
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Productos</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Productos</a></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row" id="productos">
      <!-- Item mueble lista -->
      {{#each productos}}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card card-solid">
          <div class="card-body">
            <div class="col-12">
                <img src="data:{{mimeType}};base64,{{imagen}}" class="product-image" alt="Product Image">
            </div>
            <span>{{categoria}}</span>
            <p class="h3">S/. {{precio}}</p>

            <a href="/producto/detalle/{{id}}" class="btn btn-block btn-info btn-lg">Detalles</a>
          </div>
        </div>            
      </div>
      {{/each}}
      
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
<script>
  $(document).ready(function() {
  // Seleccionar elementos por ID usando jQuery
  const herramientasLink = $('#herramientas');
  const construccionLink = $('#construccion');
  const electricidadLink = $('#electricidad');
  const gasfiteriaLink = $('#gasfiteria');

  // Agregar eventos de clic con jQuery
  herramientasLink.click(function(event) {
    event.preventDefault();
    getProductosByCategoria('Herramienta');
  });

  construccionLink.click(function(event) {
    event.preventDefault();
    getProductosByCategoria('Construccion');
  });

  electricidadLink.click(function(event) {
    event.preventDefault();
    getProductosByCategoria('Electricidad');
  });

  gasfiteriaLink.click(function(event) {
    event.preventDefault();
    getProductosByCategoria('Gasfiteria');
  });


  async function getProductosByCategoria(categoria) {
    try {
      const response = await axios.get(`/producto/${categoria}`);
      const productos = response.data;

      const productContainer = $('#productos');
      productContainer.empty();

      productos.forEach(producto => {
        const productCard = `
          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-solid">
              <div class="card-body">
                <div class="col-12">
                  <img src="data:${producto.mimeType};base64,${producto.imagen}" class="product-image" alt="Product Image">
                </div>
                <span>${producto.categoria}</span>
                <p class="h3">S/. ${producto.precio}</p>
                <a href="/producto/detalle/${producto.id}" class="btn btn-block btn-info btn-lg">Detalles</a>
              </div>
            </div>
          </div>
        `;
        productContainer.append(productCard);
      });

    } catch (error) {
      console.error('Error al obtener productos por categoría', error);
    }
  }
});
</script>
